Source: python-tz
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian  Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Alastair McKinstry <mckinstry@debian.org>,
           Debian/Ubuntu Zope Team <pkg-zope-developers@lists.alioth.debian.org>,
           Fabio Tranchitella <kobold@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               python3-all,
               python3-pytest,
               python3-setuptools,
               tzdata
Standards-Version: 4.6.2
Homepage: https://pythonhosted.org/pytz/
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-tz
Vcs-Git: https://salsa.debian.org/python-team/packages/python-tz.git -b debian/latest
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: python3-tz
Architecture: all
Depends: tzdata, ${misc:Depends}, ${python3:Depends}
Description: Python3 version of the Olson timezone database
 python-tz brings the Olson tz database into Python. This library allows
 accurate and cross platform timezone calculations using Python 2.3 or higher.
 It also solves the issue of ambiguous times at the end of daylight savings,
 which you can read more about in the Python Library Reference
 (datetime.tzinfo).
 .
 This package contains the Python 3 version of the library.
